---
# Run K3s uninstall scripts

- name: Check for K3s server uninstall script
  ansible.builtin.stat:
    path: /usr/local/bin/k3s-uninstall.sh
  register: k3s_reset_server_uninstall

- name: Check for K3s agent uninstall script
  ansible.builtin.stat:
    path: /usr/local/bin/k3s-agent-uninstall.sh
  register: k3s_reset_agent_uninstall

- name: Run K3s server uninstall script
  ansible.builtin.command: /usr/local/bin/k3s-uninstall.sh
  when: k3s_reset_server_uninstall.stat.exists
  changed_when: true
  failed_when: false

- name: Run K3s agent uninstall script
  ansible.builtin.command: /usr/local/bin/k3s-agent-uninstall.sh
  when: k3s_reset_agent_uninstall.stat.exists
  changed_when: true
  failed_when: false
