---
# K3s Server handlers

- name: Restart k3s server
  ansible.builtin.systemd:
    name: k3s
    state: restarted
    daemon_reload: true
  listen: restart k3s

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  listen: reload systemd
