---
# Configure kubectl access

- name: Set kubeconfig permissions
  ansible.builtin.file:
    path: "{{ k3s_server_kubeconfig }}"
    mode: "{{ k3s_server_kubeconfig_mode }}"

- name: Get cluster status
  ansible.builtin.command: >
    /usr/local/bin/kubectl --kubeconfig {{ k3s_server_kubeconfig }} get nodes -o wide
  register: k3s_server_cluster_nodes
  changed_when: false

- name: Display cluster status
  ansible.builtin.debug:
    msg: "{{ k3s_server_cluster_nodes.stdout_lines }}"
